<form [formGroup]="recipeForm">
  <div class="cover-photo-holder" style="float:right">
    <input class="form-control" type="file" (change)="readUrl($event)" />
    <img [src]="cover_photo_for_viewing" style="width: 300px; height: 300px; margin: 5px; border:0; object-fit: cover; border-radius: 8px ">
  </div>
  <div class="newrecipe panel panel-default" style="max-width: 700px;">
    <div class="panel-heading">
      <h4>Add a new Recipe</h4>
    </div>
    <div class="panel-body">

      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="recipe_in_progress.title" placeholder="Recipe Title" formControlName="title">
      </div>
      <div class="form-group">
        <textarea type="text" formControlName="description" class="form-control" [(ngModel)]="recipe_in_progress.description" placeholder="Description"
          rows="5"></textarea>
      </div>
      <div class="input-group">
        <input type="number" class="form-control" [(ngModel)]="recipe_in_progress.preparation_time" placeholder="Preparation Time"
          formControlName="preparation_time">
        <span class="input-group-addon">minutes</span>
      </div>
      <div class="input-group">
        <input type="number" class="form-control" [(ngModel)]="recipe_in_progress.feeds_this_many" placeholder="Feeds How Many" formControlName="feeds_this_many">
        <span class="input-group-addon">people</span>
      </div>
      <div class="form-group">
        <label>Ingredients</label>
        <div class="ingredient" *ngFor="let ingredient of recipe_in_progress.ingredients; let i= index">
          <input type="text" class="form-control" formControlName="ingredient_ {{i}}" [(ngModel)]="recipe_in_progress.ingredients[i].ingredient"
            placeholder="Ingredient" />
          <input type="text" class="form-control" formControlName="measure_{{i}}" [(ngModel)]="recipe_in_progress.ingredients[i].measure"
            placeholder="How much??" />
          <button class="btn btn-primary" (click)="removeIngredientAtIndex(i)" style="font-size: 80%">Remove</button>
        </div>
        <br>
        <div>
          <button class="btn btn-primary" (click)="addIngredientPressed()">Add</button>
        </div>

      </div>
      <br>
      <div class="form-group">
        <label>Instructions</label>
        <div class="instruction" *ngFor="let instruction of recipe_in_progress.instructions; let i= index">
          <input style="width: 40%" formControlName="instruction_{{i}}" type="text" class="form-control" [(ngModel)]="recipe_in_progress.instructions[i].instruction"
            placeholder="what to do??" />
          <button class="btn btn-primary" (click)="removeInstructionsAtIndex(i)" style="font-size: 80%">Remove</button>
          <input type="file" (change)="readInstructionUrl(i,$event)">
          <img [src]="instruction_photo_for_viewing[i]" style="width: 100px; height: 100px; margin: 5px; border:0; object-fit: cover;border-radius: 8px">
        </div>
        <br>
        <div>
          <button class="btn btn-primary" (click)="addInstructionPressed()">Add</button>
        </div>

      </div>
      <br>
      <button class="btn btn-primary" [disabled]="!recipeForm.valid" (click)="addRecipeClicked()">Add Recipe</button>
      <button class="btn btn-primary" (click)="cancelButtonClicked()">Cancel</button>

    </div>
  </div>
</form>